<div ng-if="!is404">
    <img ng-src="{{ bkg }}" alt="{{ post.title.rendered }}">
    <h2 ng-bind-html="post.title.rendered | toTrusted"></h2>
    <span>{{post.date | fulldate}}</span>

    <div class="row">
        <div class="large-12 columns">
            <p ng-bind-html="post.content.rendered | toTrusted"></p>
        </div>
    </div>


    <div ng-if="post.comment_status === 'open'" class="row">
        <div class="large-12 columns">
            <h3>Commentaires</h3>
            
            <div class="row column text-center callout">
                <form name="cForm" ng-submit="send()" ng-disabled="cForm.$invalid" role="form" class="large-6 large-centered columns">
                    <input type="text" ng-model="cf.name" placeholder="*Nom" required />
                    <input type="email" ng-model="cf.email" placeholder="*Email" required />
                    <input type="url" ng-model="cf.website" placeholder="Site Web" />
                    <textarea ng-model="cf.comment" placeholder="*Commentaire" required></textarea>
                    <button type="submit" class="button">Envoyer</button>
                </form>
            </div>

            <ul>
                <li ng-repeat="comment in data.comments">
                    <img ng-src="{{comment.author_avatar_urls[96]}}" alt="{{comment.author_name | toTrusted}}">
                    <h5 ng-bind-html="comment.author_name |toTrusted"></h5>
                    <span>{{comment.date | fulldate}}</span>
                    <p ng-bind-html="comment.content.rendered | toTrusted"></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="nav-previous">
       <span>Article précédent</span>
        <a ng-href="{{post.previous_post.link}}" rel="prev">
           <img ng-src="{{post.previous_post.thumbnail}}" alt="post.previous_post.title | toTrusted">
            <span ng-bind-html="post.previous_post.title | toTrusted"></span>
        </a>
    </div>

    <div class="nav-next">
       <span>Article suivant</span>
        <a ng-href="{{post.next_post.link}}" rel="prev">
            <img ng-src="{{post.next_post.thumbnail}}" alt="post.next_post.title | toTrusted">
            <span ng-bind-html="post.next_post.title | toTrusted"></span>
        </a>
    </div>
</div>


<div ng-if="is404">
	<h1>Page Not Found</h1>
	<p>{{errorMessage}}</p>
</div>