<div class="row column text-center">
    <h2>Blog</h2>
</div>

<div class="row">
  
    <post-filter></post-filter>
   
    <ul>
        <li ng-repeat="post in data.posts">            
            <a href="blog/{{post.slug}}"><h3 ng-bind-html="post.title.rendered | toTrusted"></h3></a>
            <ul>
                <li>{{post.date | fulldate}}</li>
                <li ng-if="post.comment_status === 'open' && post.count_comments.total_comments !== 0 && post.count_comments.total_comments !== 1">{{post.count_comments.total_comments}} commentaires</li>
                <li ng-if="post.comment_status === 'open' && post.count_comments.total_comments == 1">{{post.count_comments.total_comments}} commentaire</li>
                <li ng-if="post.comment_status === 'open' && post.count_comments.total_comments == 0">Pas de commentaires</li>
            </ul>
            
            <img ng-src="{{ post.featured_image_thumbnail_url }}" class="thumbnail" alt="{{ post.title.rendered }}">
            <p ng-bind-html="post.excerpt.rendered | toTrusted"></p>
        </li>
    </ul>
</div>