<div class="button-group">
    <a href="blog/" class="button">Tous</a>
    <div ng-repeat="section in sections">
        <a ng-if="current_section_id && section.id == current_section_id" ng-bind-html="section.name | toTrusted" class="button secondary"></a>
        <a ng-if="!current_section_id || section.id != current_section_id" href="section/{{section.slug}}" class="button" ng-bind-html="section.name | toTrusted"></a>
    </div>
</div>