<div class="media-object" ng-if="data.currentUser.id">
  <div class="media-object-section">
    <div class="thumbnail">
      <img ng-src="{{data.currentUser.avatar_urls[96]}}" alt="Avatar de {{data.currentUser.name | toTrusted}}">
    </div>
  </div>
  <div class="media-object-section">
    <h4>{{data.currentUser.name | toTrusted}}</h4>
    <p ng-if="data.currentUser.description">{{data.currentUser.description| toTrusted}}</p>
    <p ng-if="data.currentUser.url">Site Internet : {{data.currentUser.url | toTrusted}}</p>
  </div>
</div>