<div class="row column text-center">
    <form role="search" class="large-6 large-centered columns">
        <div class="input-group">
            <input type="search" class="input-group-field" name="s" ng-model="filter.s" placeholder="Search..." />
            <a class="input-group-button button" ng-click="search()">Search</a>
        </div>
    </form>
</div>