<div class="callout large primary">
    <search-form></search-form>
    <hr>
    <div class="row small-up-5">
        <div class="column" ng-repeat="post in posts">
            <img ng-src="{{ post.featured_image_thumbnail_url }}" alt="{{ post.title.rendered | toTrusted }}" class="thumbnail">
            <a href="blog/{{post.slug}}" ng-bind-html="post.title.rendered | toTrusted"></a>  
        </div>
    </div>
</div>

<div class="row">
    
    <div class="row align-middle">
        <h3 class="text-center">StartAngular <small>Awesome Starterkit for Wordpress</small></h3>
        <hr>
        <div class="column small-6">
            <img src="http://studioraygun.co.uk/wp-content/uploads/2014/08/angularjs-wordpress.jpg" alt="Wordpress and AngularJS">
        </div>
        <div class="column small-6">
            <p class="lead">Welcome to the new Starterkit by Digitalz. It is a Wordpress Theme using the really new ZURB Foundation6 to explore new ways of design, also AngularJS and the Wordpress JSON API are solid foundations to build websites and web-apps easier and faster.</p>
            <div class="text-center">
                <a href="https://bitbucket.org/leodsidz/startangular" class="button alert">StarterAngular Homepage</a>
                <p><small>Download version 0.1.0</small></p>
            </div>
        </div>
    </div> 
    <hr>
    <div class="small-12 columns">
        <h4 class="text-center">Get started</h4>
        <ul class="tabs" data-tabs id="getstarted-tabs">
            <li class="tabs-title is-active"><a ng-href="#panel1" aria-selected="true">Step 1</a></li>
            <li class="tabs-title"><a ng-href="#panel2">Step 2</a></li>
            <li class="tabs-title"><a ng-href="#panel3">Step 3</a></li>
            <li class="tabs-title"><a ng-href="#panel4">Step 4</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="getstarted-tabs">
          <div class="tabs-panel is-active" id="panel1">
              <p>Download or Clone the repo</p>
            <p><code>clone https://leodsidz@bitbucket.org/leodsidz/startangular.git</code></p>
          </div>
          <div class="tabs-panel" id="panel2">
            <p>Install the dev dependencies
            <code>npm install</code></p>
          </div>
          <div class="tabs-panel" id="panel3">
            <p> Initiate the assets files (scss compiling, js concat, minifying everything and more...)
            <code>gulp</code></p>
          </div>
          <div class="tabs-panel" id="panel4">
            <p>Live Rebuilding of the assets
            <code>gulp watch</code></p>
          </div>
        </div>
    </div>
    <hr>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="http://static8.viadeo-static.com/t0AbdrOFkUf32p1F_KFu7VO7Oy0=/fit-in/200x200/filters:fill(white)/a9095c8c8944438fbbeb925cbf55115f/1434473305.jpeg" alt="logo Digitalz">
        </div>
      </div>
      <div class="media-object-section">
        <h4>Informations</h4>
        <p>DIGITALZ is a web digital company, working with clients from Brasil and France.</p>
        <a href="https://www.facebook.com/digitalz4k">URL</a>
      </div>
    </div>
   
</div>
